.Letter {
    box-sizing: border-box;
}

.game {
    border: 3px solid var(--outline-letter);
    border-radius: 10%;
    margin: 3px;
    padding-bottom: 4px;
    width: 38px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    height: 40px;
}

.keyboard {
    box-sizing: border-box;
    border: 2px solid var(--outline-letter);
    border-radius: 10%;
    margin: 2px;
    padding: 2px;
    width: 32px;
    height: 36px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.selected {
    border-bottom: 6px solid var(--outline-letter);
    padding-bottom: 0px;
}

.disabled {
    border: 3px solid lightgrey;
}

.submitted {
    color: white;
}

.doesnt-exists {
    border: 3px solid var(--letter-doesnt-exists);
    background-color: var(--letter-doesnt-exists);
}

.right-place {
    border: 3px solid var(--letter-right-place);
    background-color: var(--letter-right-place);
}

.wrong-place {
    border: 3px solid var(--letter-wrong-place);
    background-color: var(--letter-wrong-place);
}

.special-key {
    width: 48px;
}