.Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.edges {
    width: 30%;
    padding: 8px;
}

.edges > * {
    cursor: pointer;
    margin: 4px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}