:root {
	--background-color: #EDFFEC;
	--letter-doesnt-exists: #5A5766;
	--letter-right-place: #61E786;
	--letter-wrong-place: #F4743B;
	--outline-letter: #C4A69D;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	
	user-select: none;
	-ms-user-selec: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}